* {
    padding: 0px;
    margin: 0px;
}

.slider {
    width: 70%;
    margin: 10px auto;
    margin-bottom: 10px;
    justify-content: center;
    justify-items: center;
    background-color: #fff;
    border: solid black;

}

.footer {
    bottom: 0;
    text-align: center;
}

.color-change-2x {
	animation: color-change-2x 2s linear infinite alternate both;
}

.flicker-1 {
	animation: flicker-1 2s linear infinite both;
}

 @keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #b22cff;
    }
  }
  
@keyframes flicker-1 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
